@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Alex Friesen<br />
   1 Georgian Dr<br />
    Barrie, ON<br />
    <abbr title="Phone">P:</abbr>
    705.770.7921
</address>
